# Google Maps API Key (Tùy chọn)
# Nếu không cung cấp API key, TourSmartMap sẽ tự động sử dụng Bản đồ tương tác OpenStreetMap (OSM)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCC5W-cg8KIle6APWeDpz1KSWoMExGxF10
